<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="InfoCab App Complete Testing Flow"/>
         
         <!-- Device and Application  Details That might be change -->
         
     <parameter name="AppiumURL" value="http://127.0.0.1:4723/wd/hub"/>
     <parameter name="DeviceType" value="Android"/>
 
  <!--parameter name="DeviceVersion" value="10"/-->
  <!--parameter name="DeviceName" value="Galaxy A31"/-->
  <!--parameter name="DeviceUDID" value="RF8NA302BXL"/-->
  
  <parameter name="DeviceVersion" value="7"/>
  <parameter name="DeviceName" value="Galaxy J7 Pro"/>
  <parameter name="DeviceUDID" value="52006c45b4f164dd"/>
  
   <parameter name="AppPackage" value="com.infosun.csandroidx"/> 
  <parameter name="AppActivity" value="com.infosun.csandroidx.activities.MainActivity"/>
  <parameter name="CommonLocator" value="com.infosun.csandroidx:id/"/>
  
  
  
  <parameter name="CommonLocator_ForAlerts" value="com.android.packageinstaller:id/"/>
  <parameter name="CommonLocator_ClassView" value="android.widget.TextView"/>
   <parameter name="CommonLocator_ClassView_gps_image" value="android.view.View"/>
  <parameter name="CommonLocator_Class_Relative_View" value="android.widget.RelativeLayout"/>
   <parameter name="CommonLocator_ClassImageView" value="android.widget.ImageView"/>
   <parameter name="CommonLocator_ClassButton" value="android.widget.Button"/>
  <parameter name="Sidermenue_CommonText" value="//android.widget.CheckedTextView"/>
  
    <parameter name="AppCommonPermision_TextS1" value="Allow Ablewell Cars (Beta) to access photos, media and files on your device?"/>
    <parameter name="AppCommonPermision_TextS2" value="Allow Ablewell Cars (Beta) to access this device's location?"/>
    <parameter name="AppCommonPermision_TextS3" value="Allow Ablewell Cars (Beta) to send and view SMS messages?"/>
    <parameter name="RecoverPwd" value="You'll receive an email from Ablewell Cars with a instruction to recover password"/>

  
           <!-- CabSnapper Data -->
  <parameter name="PhoneNum" value="00923358391478"/>
    <parameter name="Change_PhoneNumber" value="00923438211271"/>
   <parameter name="Invalid_PhoneNum" value="1234"/>
   <parameter name="NotRegister_PhoneNum" value="12345678912"/>
   <parameter name="Pwd" value="12345678"/>
   <parameter name="Incorrect_Pwd" value="1234567ab"/>
    <parameter name="Invalid_Pwd" value="123a"/>
    <parameter name="Change_Pwd" value="12345677"/>
    
    <parameter name="valid_email" value="zulfiqar@infosun.co.uk"/>
    <parameter name="Invalid_email" value="abcd1234"/>
     <parameter name="NotRegister_email" value="ab12@cd.com"/>
     <parameter name="CommID" value="15"/>
     
     <parameter name="validPin" value="123456"/>
     <parameter name="InavlidPin" value="123abcd"/>
       <parameter name="Name" value="QA Tester"/>
       
       
       <!-- CabSnapper Credit Card Details -->
        <parameter name="CreditCardName" value="QA Tester"/>
         <parameter name="Invalid_CreditCardNumber" value="123"/>
         <parameter name="Incorrect_CreditCardNumber" value="12334567890123456"/>
         <parameter name="ExpireDate" value="2/2023"/>
         <parameter name="CVV" value="123"/>
         <parameter name="Invalid_CVV" value="1"/>
         <parameter name="Valid_CreditCardNumber" value="4242424242424242"/>
         
                <!-- CabSnapper Credit Card Details -->
        <parameter name="PostPayEmail" value="jeet@infosun.co.uk"/>
        <parameter name="Invalid_PostPayEmail" value="Tester@infosun.co.uk"/>
         <parameter name="PostPay_Pwd" value="12345678"/>
         <parameter name="Incorrect_PostPay_Pwd" value="12344455"/>
         <parameter name="Invalid_PostPay_Pwd" value="12"/>
         
         
         
         
  
 <!-- CabSnapper Add PickUp Point Data -->
 
 <parameter name="PickUpAddress" value="18 Chapel Hill, Huddersfield, UK"/>
 <parameter name="DropoffAddress" value="21 Newsome Road, Huddersfield, UK"/>
 <parameter name="DriverNote" value="please follow map, you will catch me at picking point."/>
 
    <!-- Rider App Details and Data -->
   <parameter name="Rider_AppPackage" value="com.infosun.infocabs"/>
  <parameter name="Rider_AppActivity" value="com.infosun.infocabs.SplashActivity"/>
  <parameter name="Rider_PWD" value="2222"/>
  
  <!-- Rider Feedback Details and Data -->
  <parameter name="Feedback" value="Rider was good and drive well his behavior was out standings"/>
  
   <!-- Promo Code Details and Data -->
  <parameter name="InvalidPromoCode" value="12345abc"/>
   <parameter name="validPromoCode" value="QATester"/>
  
 
 
  <listeners>
  <listener class-name="com.InfoCabs.common.TestListeners"></listener>
  
  </listeners>
  
  <test  name="InfoCabSnapperApp.com">
    <classes>  
       <class name="com.InfoCabs.common.TestBase"/>
       <!-- The to-be-commented XML block goes here. -->

        

             
             
         <class name="com.InfoCabs.testcases.LoginPage_TestCases_1_22"/>
       <class name="com.InfoCabs.testcases.ForgotPhoneNumberPage_TestCases_23_32"/> 
        <class name="com.InfoCabs.testcases.ForgotPasswordPage_TestCases_33_41"/>
        <class name="com.InfoCabs.testcases.CreateNewUserPage_TestCases_42_71"/>
        <class name="com.InfoCabs.testcases.Delete_RegesteredUser_API_Requests_72"/>
         <class name="com.InfoCabs.testcases.CreateNewUserPage_TestCases_72_82"/>
         
         <class name="com.InfoCabs.testcases.MainHomePage_TestCases_83_109"/>
         <class name="com.InfoCabs.testcases.ChoosevehiclePage_TestCases_110_119"/>
         <class name="com.InfoCabs.testcases.ConfirmYourRidePage_TestCases_120_135"/>
         <class name="com.InfoCabs.testcases.BookingVehiclePage_TestCases_136_147"/>




  <class name="com.InfoCabs.testcases.LunchDriver_App_148_158"/>
           <class name="com.InfoCabs.testcases.BookingAcceptedPage_On_CS_App_158_180"/>
         <class name="com.InfoCabs.testcases.POB_Page_TestCases_181_217"/>
         <class name="com.InfoCabs.testcases.STC_And_FeedBack_Page_TestCases_218_232"/>
         <class name="com.InfoCabs.testcases.Book_SaloonWith_PrmoCode_233_262"/>
          <class name="com.InfoCabs.testcases.Schedule_Saloon_Ride_263_299"/>
         <class name="com.InfoCabs.testcases.Book_Saloon_With_CreditCard_TestCases_300_320"/>


            <class name="com.InfoCabs.testcases.Book_6_Seater_TestCases_321_343"/>
           <class name="com.InfoCabs.testcases.Book_6_Seater_with_PromoCode_TestCases_244_378"/>
           <class name="com.InfoCabs.testcases.Book_6_Seater_With_CreditCards_TestCases_379_401"/>
           <class name="com.InfoCabs.testcases.Schedule_6_Seater_Cab_TestCases_401_439"/>
           
              <class name="com.InfoCabs.testcases.Book_8_Seater_TestCases_440_466"/>
            <class name="com.InfoCabs.testcases.Book_8_Seater_with_PromoCode_TestCases_467_502"/>
            <class name="com.InfoCabs.testcases.Book_8_Seater_with_CreaditCards_TestCases_503_525"/>
             <class name="com.InfoCabs.testcases.Scedule_8_Seater_Cab_TestCases_527_567"/>
      
      
      
      
         <class name="com.InfoCabs.testcases.Side_Menu_elements_verification_TestCases_568_576"/>
            <class name="com.InfoCabs.testcases.MyProfile_SideMenue_verification_TestCases_577_587"/>
            
             <class name="com.InfoCabs.testcases.Change_Password_TestCases_588_610"/>

            
            <class name="com.InfoCabs.testcases.Add_PaymentsMethods_TestCases_611_622"/>
            <class name="com.InfoCabs.testcases.Add_CreditCards_TestCases_623_639"/>
            
           <class name="com.InfoCabs.testcases.Add_PostPay_Account_TestCases_640_657"/>
           <class name="com.InfoCabs.testcases.About_Us_Page_TestCases_658_666"/>
            <class name="com.InfoCabs.testcases.Share_Page_TestCases_667_668"/>


           <class name="com.InfoCabs.testcases.MyTrips_Cancelled_Ride_And_Rebook_TestCases_666_685"/>
            <class name="com.InfoCabs.testcases.MyTrips_CompletedRide_with_Different_fedback_TestCases_686_710"/>
            <class name="com.InfoCabs.testcases.Completed_trip_Details_TestCases_711_724"/>
            <class name="com.InfoCabs.testcases.LogOut_Page_TestCases_750_753"/>

           <class name="com.InfoCabs.testcases.Check_Remeber_Feature_TestCases_754_768"/>
  

      
  
     
           
            

            
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
